@font-face {
  font-family: 'Roboto Medium';
  src: url('/src/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('/src/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Bold';
  src: url('/src/fonts/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Regular';
  src: url('/src/fonts/NotoSans-Regular.ttf') format('truetype');
}

.sub-FAQ-bg{
  /* 회색배경 */
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: #FAFAFA;
}
.sub-FAQ-title{
  /* FAQ */
  position: absolute;
  width: 5.438rem;
  height: 4rem;
  left: 11.938rem;
  top: 6.75rem;

  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  /* identical to box height, or 133% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* 헤드라인 */

  color: #333333;
}
.sub-FAQ-textbox{
  /* Rectangle 3874 */
  position: absolute;
  left: 23.91%;
  right: 5.14%;
  top: 21.39%;
  bottom: 5.76%;

  /* Neutral/100 */

  background: #FFFFFF;
  /* 진한 그림자 */

  box-shadow: 0px 7px 22px rgba(20, 20, 43, 0.1);
  border-radius: 18px;
}
.sub-FAQ-ALL{
  position: absolute;
  width: 88px;
  height: 30px;
  left: 191px;
  top: 275px;

  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 30px */


  color: #666666;
}
.sub-FAQ-ALL:hover, .sub-FAQ-ALL.active{
  position: absolute;
  width: 88px;
  height: 30px;
  left: 191px;
  top: 275px;

  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 30px */
  

  color: #E02F36;
}

.sub-FAQ-WEB{
  position: absolute;
  width: 88px;
  height: 30px;
  left: 191px;
  top: 353px;

  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 30px */


  /* 본문 */

  color: #666666;
}
.sub-FAQ-WEB:hover, .sub-FAQ-WEB.active{
  position: absolute;
  width: 88px;
  height: 30px;
  left: 191px;
  top: 353px;

  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 30px */


  /* 본문 */

  color: #E02F36;
}
.sub-FAQ-APP{
  position: absolute;
  width: 85px;
  height: 30px;
  left: 191px;
  top: 431px;

  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 30px */


  /* 본문 */

  color: #666666;
}
.sub-FAQ-APP:hover, .sub-FAQ-APP.active{
  position: absolute;
  width: 85px;
  height: 30px;
  left: 191px;
  top: 431px;

  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 30px */


  /* 본문 */

  color: #E02F36;
}

.sub-FAQ-question0{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 93px;
  bottom: 664.11px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #333333;
}
.sub-FAQ-question0:hover,.sub-FAQ-question0.active{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 67px;
  bottom: 694.11px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #E02F36;
}
.sub-FAQ-answer0{
  visibility: hidden;
}
.sub-FAQ-answer0.active{
  position: absolute;
  visibility: visible;
  left: 215px;
  right: 269.35px;
  top: 112.1px;
  bottom: 635.49px;

  /* font-family: 'Spoqa Han Sans Neo Regular'; */
  font-family: 'Noto Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  /* or 150% */

  letter-spacing: -0.008em;

  /* 소제목 */

  color: #999999;
}
.sub-FAQ-question1{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 207px;
  bottom: 550.11px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #333333;

}
.sub-FAQ-question1:hover,.sub-FAQ-question1.active{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 185px;
  bottom: 585.11px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #E02F36;

}
.sub-FAQ-answer1{
  visibility: hidden;
  }
.sub-FAQ-answer1.active{
    position: absolute;
    visibility: visible;
    left: 215px;
    right: 269.35px;
    top: 225px;
    bottom: 518.59px;
  
    /* font-family: 'Spoqa Han Sans Neo Regular'; */
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* or 150% */
  
    letter-spacing: -0.008em;
  
    /* 소제목 */
  
    color: #999999;
  }
.sub-FAQ-question2{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 318.14px;
  bottom: 438.97px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #333333;

}
.sub-FAQ-question2:hover,.sub-FAQ-question2.active{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 299.14px;
  bottom: 457.97px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #E02F36;

}
.sub-FAQ-answer2{
  visibility: hidden;
  }
  .sub-FAQ-answer2.active{
    position: absolute;
    visibility: visible;
    left: 215px;
    right: 269.35px;
    top: 339px;
    bottom: 386.59px;
  
    /* font-family: 'Spoqa Han Sans Neo Regular'; */
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* or 150% */
  
    letter-spacing: -0.008em;
  
    /* 소제목 */
  
    color: #999999;
  }
.sub-FAQ-question3{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 429.21px;
  bottom: 327.9px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #333333;

}
.sub-FAQ-question3:hover,.sub-FAQ-question3.active{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 412px;
  bottom: 345.11px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #E02F36;

}
.sub-FAQ-answer3{
  visibility: hidden;
  }
  .sub-FAQ-answer3.active{
    position: absolute;
    visibility: visible;
    left: 215px;
    right: 269.35px;
    top: 453px;
    bottom: 266.59px;
  
    /* font-family: 'Spoqa Han Sans Neo Regular'; */
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* or 150% */
  
    letter-spacing: -0.008em;
  
    /* 소제목 */
  
    color: #999999;
  }
.sub-FAQ-question4{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 543.28px;
  bottom: 213.83px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #333333;

}
.sub-FAQ-question4:hover,.sub-FAQ-question4.active{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 527px;
  bottom: 230.11px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #E02F36;

}
.sub-FAQ-answer4{
  visibility: hidden;
  }
  .sub-FAQ-answer4.active{
    position: absolute;
    visibility: visible;
    left: 215px;
    right: 269.35px;
    top: 566px;
    bottom: 163.59px;
  
    /* font-family: 'Spoqa Han Sans Neo Regular'; */
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* or 150% */
  
    letter-spacing: -0.008em;
  
    /* 소제목 */
  
    color: #999999;
  }
.sub-FAQ-question5{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 657.35px;
  bottom: 99.75px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #333333;

}
.sub-FAQ-question5:hover,.sub-FAQ-question5.active{
  position: absolute;
  left: 215px;
  right: 693.27px;
  top: 635.35px;
  bottom: 121.75px;

  /* font-family: 'Spoqa Han Sans Neo Bold'; */
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.008em;

  /* 헤드라인 */

  color: #E02F36;

}
.sub-FAQ-answer5{
  visibility: hidden;
  }
  .sub-FAQ-answer5.active{
    position: absolute;
    visibility: visible;
    left: 215px;
    right: 269.35px;
    top: 677px;
    bottom: 48.59px;
  
    /* font-family: 'Spoqa Han Sans Neo Regular'; */
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* or 150% */
  
    letter-spacing: -0.008em;
  
    /* 소제목 */
  
    color: #999999;
  }
.div0{
  position: absolute;
  left: 175px;
  right: 125.33px;
  top: 162px;
  bottom: 624.74px;

  /* Neutral/400 */

  border: 0.1px solid #D9DBE9;
}
.div1{
  position: absolute;
  left: 175px;
  right: 125.33px;
  top: 273.81px;
  bottom: 512.93px;

  /* Neutral/400 */

  border: 0.1px solid #D9DBE9;
}
.div2{
  position: absolute;
  left: 175px;
  right: 125.33px;
  top: 385.63px;
  bottom: 401.11px;

  /* Neutral/400 */

  border: 0.1px solid #D9DBE9;
}
.div3{
  position: absolute;
  left: 175px;
  right: 125.33px;
  top: 497.44px;
  bottom: 289.3px;

  /* Neutral/400 */

  border: 0.1px solid #D9DBE9;
}
.div4{
  position: absolute;
  left: 175px;
  right: 125.33px;
  top: 609.26px;
  bottom: 177.48px;

  /* Neutral/400 */

  border: 0.1px solid #D9DBE9;
}
/* .plus1{
    position: absolute;
    left: 1145px;
    right: 199.74px;
    top: 99px;
    bottom: 670.24px;
  
    background-image: url(../../Images/plus.png);
  
} */
.textArea{
  width: 1063px;
  height: 111px;
}