@font-face {
  font-family: 'Poppins Bold';
  src: url('/src/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins SemiBold';
  src: url('/src/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Medium';
  src: url('/src/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter Medium';
  src: url('/src/fonts/Inter-Medium.ttf') format('truetype');
}
.sub-nav-bg{
  position: absolute;
  width: 1920px;
  height: 70px;
  margin: 0;
  background: #d9d9d9;
}
.sub-nav-home{
  /* process */
  position: absolute;
  width: 46px;
  height: 10px;
  left: 804px;
  top: 31px;

  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* red */
  color: #E02F36;
}
.sub-nav-process{
  /* about */
  position: absolute;
  width: 63x;
  height: 8px;
  left: 904px;
  top: 32px;

  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  
  /* systemGrey/800 */
  color: #424242;
}
.sub-nav-FAQ{
  /* FAQ */
  position: absolute;
  width: 36px;
  height: 10px;
  left: 1004px;
  top: 31px;

  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* systemGrey/800 */
  color: #424242;
}
.sub-nav-recruit{
  /* recruit */
  position: absolute;
  width: 56px;
  height: 10px;
  left: 1074px;
  top: 31px;

  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* systemGrey/800 */
  color: #424242;
  }
.sub-nav-btn{
  /* Rectangle 3875 */
  position: absolute;
  width: 103.22px;
  height: 35.42px;
  left: 1747.78px;
  top: 17.29px;

  background: #E02F36;
  border-radius: 37px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 19px;
  letter-spacing: 0.46px; */

/* white */

color: #FFFFFF;
  }
