.bg{
/* Rectangle 4280 */


  position: absolute;
  width: 1920px;
  height: 344px;
  left: 0px;
  top: 1080px;

  background: #FFFFFF;
}
.divider{
  /* Divider */

  position: absolute;
  width: 1747.07px;
  height: 1.33px;
  left: 85.02px;
  top: 1313.75px;

  background: #E02F36;
}