
@font-face {
  font-family: 'Poppins SemiBold';
  src: url('/src/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('/src/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Regular';
  src: url('/src/fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter Medium';
  src: url('/src/fonts/Inter-Medium.ttf') format('truetype');
}

.sub-home-bg{
 /* Rectangle 4281 */
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: #F8F8FA;
}

.sub-home-title{
/* HWA-E 2nd Member Recruituing */
position: absolute;
width: 699px;
height: 348px;
left: 185px;
top: 225px;

font-family: 'Roboto Bold';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 105%;
/* or 101px */
margin: 0px;
/* 헤드라인 */

color: #333333;

}

.sub-home-title2{
/* 화이의 두번째 기수 신입멤버를 뽑습니다. 화이에서 함께할 분들은 지원 부탁드립니다. */

position: absolute;
width: 457px;
height: 72px;
left: 190px;
top: 573px;

font-family: 'Noto Sans Regular';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 150%;
/* or 33px */
letter-spacing: -0.008em;
margin: 0px;

/* 본문 */

color: #666666;

}
.sub-home-button{
  /* Primary BTN */
  position: absolute;
  left: 9.95%;
  right: 82.55%;
  top: 62.96%;
  bottom: 32.59%;

  /* Primary/Accent */

  background: #FF2D46;
  box-shadow: 0px 2.80141px 11.2057px rgba(255, 45, 70, 0.2);
  border-radius: 52.293px;

  /* Button Text */
  
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 18px; */
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Neutrals/White */
  color: #FFFFFF;
}
.sub-home-img{
  /* 화이3d 2 */
  position: absolute;
  width: 1160px;
  height: 845px;
  left: 785px;
  top: 57px;

  
}
.sub-home-RR{
  /* RR */
  position: absolute;
  left: 48.96%;
  right: 48.96%;
  top: 90.65%;
  bottom: 5.65%;
}