body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 1080px;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.divider {
  width: 1920px;
  height: 5px;
  background-color: #ffffff;
}
.inner {
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
